/p01_mysql/connection_details.py
/.idea/dataSources.xml
/.idea/.gitignore
/.idea/git_toolbox_blame.xml
/.idea/git_toolbox_prj.xml
/.idea/m09_Databases_programming.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
